        body {
            font-family: arial unicode ms !important;
            background-color: white !important;
            opacity: 0.9;
        }
        fieldset {
            color: black;
        }
        #main_container {
            padding-left: unset !important;
            padding-right: unset !important;
        }
        /* .icn_search {
            font-family: FontAwesome;
        } */
        .search_container{
        box-sizing: border-box;
        width: 60%;
        text-align: end;
        }
        .search_container input[type="text"]{
            background: white;
            border: none;
            /* height: 35px; */
            width: 300px;
            opacity: 0.5;
        }
        .search_container input[type="text"]:focus {
            outline: 0;
        }
        .search_container input[type="text"]:hover {
            opacity: 1.0;
        }
        .search_container input[type="submit"]{
            cursor: pointer;
            font-family: FontAwesome;
            border: none;
            color: #fff;
            background-color:cornflowerblue;
            outline : none;
            width: 2.0em;
            /* height: 37px; */
            vertical-align: bottom;
            opacity: 1.0;
        }
        .search_container input[type="submit"]:hover{
            opacity: 0.9;
        }

        /* お店画像サイズ */
        img {
            height: 100%;
            width: 100%;
            max-height: 265px;
        }

        #slide img {
            max-height: 350px;
            max-width: 900px;
            opacity: 0.8;
        }
        /* #slide {
            width: 60%;
        } */

        .roulette-p {
            text-align: center;
            font-size: 1rem;
            white-space: nowrap;
            color: black;
        }
        .roulette-p:hover {
            color: black;
            text-decoration: none;
        }

        /* クレジット */
        .gurunavi {
            height: 100%;
            max-height: none;
        }

        /* ヘッダー画像 */
        .header {
            background: border-box;
            font-size: xx-large;
            margin-top: unset !important;
            opacity: 0.9;
            letter-spacing: 2px;
            font-style: italic;
            text-align: center;
            background-color: white;
            border: 5px solid white;
            box-shadow: 2px 2px 15px gray;
        }

        /* メニュー */
        .menu {
            height: 50px !important;
            background-color: unset !important;
            border: unset !important;
            margin-top: 0px !important;
        }

        /* 条件ポップアップ */
        .popup {
            display: none;
            height: 100vh;
            width: 100%;
            background: black;
            opacity: 0.9;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
        }

        .popupButtonArea {
            display: flex;
        }

        .popupButtonArea button {
            margin: auto;
        }

        /* フリーワードポップアップ */
        .freeWordPopup {
            display: none;
            height: 100vh;
            width: 100%;
            background: black;
            opacity: 0.9;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
        }

        .freeWordContent {
            background: #fff;
            padding: 30px;
        }

        /* jquery表示クラス */
        .show {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        /* ボタンレイアウト */
        .research {
            height: 50px !important;
        }

        .btn {
            width: 10rem !important;
            margin: 0px 10px;
            color: #fff;
        }

        /* ルーレットボタンデザイン */
        #roulette,
        #location-information,
        #key-word,
        #free-word {
            position: relative;
            display: inline-block;
            font-weight: bold;
            padding: 8px 10px 5px 10px;
            text-decoration: none;
            transition: .4s;
            margin: 0px !important;
            width: 25% !important;
            background: white;
            border-radius: unset !important;
        }
        #roulette:hover {
            opacity: 1.0;
            box-shadow: 2px 2px 10px cornflowerblue;
            border: 1px solid cornflowerblue;
        }
        #key-word:hover {
            opacity: 1.0;
            box-shadow: 2px 2px 10px cornflowerblue;
            border: 1px solid cornflowerblue;
        }
        #free-word:hover {
           opacity: 1.0;
           box-shadow: 2px 2px 10px cornflowerblue;
           border: 1px solid cornflowerblue;
        }
        #location-information:hover {
          opacity: 1.0;
            box-shadow: 2px 2px 10px cornflowerblue;
            border: 1px solid cornflowerblue;
        }

        /* 条件ポップアップ */
        .popup {
            display: none;
            height: 100vh;
            width: 100%;
            background: black;
            opacity: 0.9;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
        }

        .content {
            background: #fff;
            padding: 30px;
            width: auto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .popupButtonArea {
            display: flex;
        }

        .container {
            box-shadow: 2px 2px 10px gray;
            background: whitesmoke !important;
            margin: 5px;
        }

        #main-page {
            max-height: 600px;
            overflow-y: scroll;
            overflow-x: hidden;
            border-top: 1px solid darkgray;
        }

        .row {
            margin-left: auto !important;
            margin-right: auto !important;
        }

        .row button {
            margin: 0px auto !important;
        }

        /* ルーレットポップアップ */
        .roulette img {
            height: 200px;
            width: 200px;
            margin: 5px auto;
        }

        .roulettepopup {
            display: none;
            height: 100vh;
            width: 100%;
            background: black;
            opacity: 0.9;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
        }

        .rouletteContent {
            background: #fff;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .rouletteContent>h4 {
            text-align: center;
            margin-top: 10px;
        }

        .targetBorder {
            background: aquamarine;
            opacity: 1;
        }

        .target {
            opacity: 0.9;
        }

        .top-banner {
            display: flex;
            flex-wrap: wrap;
        }

        .top-banner li {
            width: calc(100% / 5);
            /*←画像を横に4つ並べる場合*/
            padding: 15px;
            border: 1px solid black;
            /*←画像の左右に5pxの余白を入れる場合*/
            box-sizing: border-box;
        }
        .top-banner-6 li{
            width: calc(100% / 3) !important;
            padding: 30px 50px;
        }
        .top-banner-7 li{
            width: calc(100% / 4) !important;
        }
        .top-banner-8 li{
            width: calc(100% / 4) !important;
        }

        .top-banner {
            list-style: none;
            padding: 20px;
        }

        .top-banner li img {
            height: 200px;
            width: 100%;
            margin: 0px auto;
            max-height: 200px;
            min-height: 200px;
            /* min-width: 200px; */
            border: 1px solid black;
            box-shadow: 1px 1px 1px black;
            border-radius: 5px;
        }

        .btnArea {
            text-align: center;
        }

        .btnArea button {
            min-width: 200px;
            border: none;
            border-radius: 5px;
            color: whitesmoke;
        }

        #start {
            background-color: cornflowerblue;
            height: 50px;
        }

        #stop {
            background-color: brown;
            height: 50px;
        }

        #rouletteclose {
            border: none;
            background-color: white;
            font-size: x-large;
        }

        .rouletteclose {
            text-align: end;
        }

        /* フッター */
        footer {
            background-color: white;
        display: flex !important;
        border-top: 1px solid gray;
        }

        .footer1 {
            width: 30%;
        }

        .footer2 {
            width: 40%;
            text-align: center;
            margin: auto;
            color: black;
        }

        .footer3 {
            width: 30%;
            text-align: end;
        }

        .footer1>ul {
            margin: auto;
        }

        .gurunavi {
            margin: 1px;
        }
        .yorosiku {
            height: 200px;
            width: 250px;
        }
        a {
            text-decoration: none;
        }

        #close,
        #freeWordPopupClose{
            background: gray;
            color: white;
        }
        #close:hover {
            opacity: 1.0;
        }
        #freeWordPopupClose:hover {
            opacity: 1.0;
        }
        .ms{
            padding-left: 10px;
        }
        .newMember {
            border: none;
            width: 260px;
            height: 50px;
            letter-spacing: 2px;
            font-size: medium;
            margin-top: 25px;
            background: rgb(127, 206, 255);
        }
        .newMember:hover {
            box-shadow: 1px 1px 10px rgb(127, 206, 255);
            opacity: 1.0;
        }
        .login {
            border: none;
            width: 260px;
            height: 50px;
            letter-spacing: 2px;
            font-size: medium;
            margin-top: 25px;
            background: rgb(127, 255, 221);
        }
        .login:hover {
            box-shadow: 1px 1px 10px rgb(127, 255, 221);
            opacity: 1.0;
        }
        /* ログイン及びお気に入り広告エリア */
        .re_log_area{
            text-align: center;
        }
        .favobutton {
            width: 80%;
            border: none;
            height: 50px;
            color: whitesmoke;
            letter-spacing: 5px;
            font-size: large;
            background-color: darkorange;
            opacity: 0.8;
        }
        .favobutton:hover{
            opacity: 1.0;
            box-shadow: 1px 1px 10px darkorange;
        }
        .logoutbutton {
            background-color: darkgray;
        }
        .Advertising {
            margin-top: 40px;
        }

        /* お気に入りリスト画面 */
        .favo-banner {
            list-style: none;
            padding: 0px 20px 0px 20px;
            display: flex;
            flex-wrap: wrap;
            min-height: 100vh;
            margin-bottom: 0px;
        }
        .favo-banner li{
            width: calc(100% / 5);
            margin: 10px;
            padding: 10px;
            /* border: 1px solid gray; */
            box-sizing: content-box;
            max-height: 300px;
            background-color: white;
            opacity: 0.8;
        }
        #favo_li:hover {
            box-shadow: 1px 1px 10px rgb(60, 61, 60);
            opacity: 1.0;
        }
        .favo-banner img {
            max-height: 200px;
        }
        .favo-banner p {
            min-height: 46px;
            color: black;
        }
        .favo-banner a {
            text-decoration: none;
        }
        .favo_a:hover {
            text-decoration: none;
        }
        .favicon {
            width: 35px;
            height: 35px;
            vertical-align: sub;
        }
        .pankuzu{
            margin: 30px;
        }
        .phone_icon {
            height: 16px;
            width: 16px;
        }
        .yoyakubutton {
            border: 1px solid darkgreen;
            background-color: white;
            margin-top: 10px;
            opacity: 0.8;
        }
        .yoyakubutton:hover {
            opacity: 1.0;
            background-color: darkgreen;
        }
        .deletebutton {
            margin-top: 10px;
            margin-left: 5px;
            border: 1px solid black;
            border-radius: 0px !important;
            opacity: 0.8;
        }
        .deletebutton:hover {
            opacity: 1.0;

        }
        .phone {
            display: none;
        }
        .favotitle {
            width: 40%;
        }
        .links {
            margin: 0px auto;
            width: fit-content;
        }

        /* スマホ */
        @media screen and (max-width: 450px) {
            .header {
                font-size: larger;
            }
            .search_container input[type="text"] {
                max-width: 145px !important;
            }
            .btn {
                width: 70px !important;
                font-size: x-small !important;
            }

            .menu {
                height: auto !important;
                margin-top: 10px !important;
            }

            /* 飲食店表示 */
            .contentArea p {
                margin-bottom: 0px !important;
            }

            .restName {
                font-size: x-small !important;
            }

            img {
                max-height: 150px;
            }

            .viewdata {
                min-height: auto !important;
                font-size: xx-small;
            }

            .restName {
                margin-top: 0px;
                margin: 0px;
            }

            /* お店の詳細ボタン */
            .view-btn {
                padding: 0px !important;
                height: -weblit-fill-availabel;
                width: 100px !important;

            }


            /* 条件絞り込みポップアップ */
            .popup {
                height: 100%;
            }

            /* フリーワードポップアップ */
            .freeWordPopup {
                height: 100%;
            }

            .freeWordContent {
                width: 90%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

            /* ルーレットポップアップ  */
            .rouletteContent {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 99%;
            }

            .top-banner li {
                max-height: 150px;
                padding: 5px !important;
            }

            .top-banner li img {
                min-width: 50px !important;
                max-height: 50px !important;
                min-height: 50px !important;
            }

            .top-banner {
                padding-bottom: 0px !important;
                margin-bottom: 0px;
            }

            .roulette-p {
                font-size: 8px;
                max-height: 30px;
                min-height: 30px;
                margin-bottom: 0px !important;

            }

            #start,
            #stop {
                min-width: 100px;
                height: 30px;
                margin-top: 10px;
            }

            .rouletteclose {
                height: 25px;
            }

            #rouletteclose {
                font-size: small;
            }

            /* フッター */
            footer {
                font-size: 1px;
            }

            .footer1 ul {
                padding-left: 20px;
            }

            .footer1 {
                width: 40%;
            }

            .footer2 {
                width: 60%;
                color: black;
            }

            .footer3 {
                display: none;
            }
            .PC {
                display: none;
            }
            .phone {
                display: block;
                text-align: center;
            }
            .favobutton {
                height: auto;
                margin-top: 10px;
            }
            .favo-banner li {
                width: calc(100% / 3);
                max-height: 220px;
                min-height: 220px;
            }
            .favotitle {
                width: auto;
            }
            .favo-banner img {
                max-height: 120px;
            }
            .favo-banner p {
                text-overflow: ellipsis;
                overflow: hidden;
                max-height: 46px;
            }
            .favo-banner {
                min-height: auto;
            }
            .links {
                margin: 10px auto;
                width: fit-content;
            }
            .newMember,
            .login {
                width: 38%;
                margin: 5px;
                height: 35px;
                font-size: unset;
            }
            #slide img {
                max-height: 150px;
            }
            .row_phone {
                max-height: 150px;
            }
            #slide {
            width: 100%;
            }
            .noimage {
                max-height: 150px;
                background-size: cover;
            }
            .yorosiku {
                width: 150px;
                height: 100px;
            }
            .footer1 {
                display: none;
            }
            .footer2 {
                height: 20px;
                width: 100% !important;
            }
            .roulette-p {
                white-space: normal;
            }
            .search_container input[type="submit"] {
                vertical-align: initial !important;
                width:2.0rem;
            }
            .favicon {
                width: 15px;
                height: 15px;
                vertical-align: baseline;
            }
            .phonemark {
                display: none;
            }
            @media screen and (max-width: 360px) {
                .yoyakubutton,
                .deletebutton {
                    font-size: xx-small;
                }
            }
        }
